<script>
  import Readme from '../../../README.md'
</script>

This blog is a fully featured content site up and running with SvelteKit, Tailwind CSS, and other blog features .

<!-- ---

<Readme /> -->